#%Module1.0################
##

module-whatis "Origin: Conda packages"
{% set description = "Description: " ~ about.description %}
module-whatis {{ description }}


proc ModulesHelp { } {
  {% if 'help' in about and about.help %}
  {% for line in about.help.split('\n') %}
  puts stdout "{{ line }}\n"
  {% endfor %}
  {% endif %}
  puts stdout "\n"
  puts stdout "This software has been deployed by creating a dedicated environment with Conda.\n"
  puts stdout "To list the Conda packages within this environment : conda list"
  puts stdout "\n"
}

conflict {{ env("software") }}

{% if require is defined %}
{% for module in require %}
module load {{module}}
{% endfor %}
{% endif %}

{# ### CONDA ENV VARIABLES ### #}
{% if deployment == "conda" %}
prepend-path PATH {{ env("conda_path") }}
{% if 'bin' in env("env_content") %}
prepend-path PATH {{ env("env_path") }}/bin
{% endif %}
{% if 'lib' in env("env_content") %}
prepend-path LD_LIBRARY_PATH {{ env("env_path") }}/lib
{% endif %}
{% if 'include' in env("env_content") %}
prepend-path CPATH {{ env("env_path") }}/include
{% endif %}
{% if 'man' in env("env_content") %}
prepend-path MANPATH {{ env("env_path") }}/man
{% endif %}
{% endif %}
